h2 {
  float: left;
  margin: 0;
}

time {
  float: right;
  color: grey;
}

p {
  margin: 10px 0px 10px 0px;
}

.btn:focus {
  outline: 0;
}

.btn-success {
  float: left;
  margin: 0px 2px 0px 0px;
}

.dislike {
  float: left;
  margin: 0px 0px 0px 2px;
}

.delete {
  float: right;
}
